# Tarea 1. Módulo 3
$$$$
Andrés Nieto Guadarrama
$$$$
119266

# Instalación de MySQL y SQLAlchemy

In [1]:
%%html
# <script id="asciicast-vfZ8sS0rjYxM1OLjegTdi0Uns"
#         src="https://asciinema.org/a/vfZ8sS0rjYxM1OLjegTdi0Uns.js" async
#         data-autoplay="true" data-speed=1 data-loop=1 data-theme="monokai"
#         data-rows=20 data-columns=30></script>

In [2]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\andre\anaconda3\lib\site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\andre\anaconda3\lib\site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

# Ejercicio 1

In [6]:
'''
Conexión a Base de Datos
'''


import pymysql
from pymysql.cursors import DictCursor

passw="maquina271"
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8",
                       cursorclass=DictCursor)

#'conn' almacenará la base de datos en ésta hoja

In [8]:
with conn.cursor() as cursor:
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()

for table in tables:
    print(table)#Ya sé como se llaman los nombres de las hojas

{'Tables_in_nabla_python': 'customers'}
{'Tables_in_nabla_python': 'employees'}
{'Tables_in_nabla_python': 'offices'}
{'Tables_in_nabla_python': 'orderdetails'}
{'Tables_in_nabla_python': 'orders'}
{'Tables_in_nabla_python': 'payments'}
{'Tables_in_nabla_python': 'productlines'}
{'Tables_in_nabla_python': 'products'}

In [9]:
import pandas as pd
import numpy as np

query = "SELECT status FROM orders"
status = pd.read_sql(query, conn)
print(np.unique(np.array(status)))

['Cancelled' 'Disputed' 'In Process' 'On Hold' 'Resolved' 'Shipped']

# Ejercicio 2

In [36]:
import pandas as pd
import numpy as np

# query = "SELECT * FROM orders"
# status = pd.read_sql(query, conn, index_col="status")
# print(status['customerName'])#Llaves de la dataframe requirida del ejercicio


query = """
        SELECT customerName,amount
        FROM customers
        JOIN payments
        ON payments.customerNumber = customers.customerNumber;
        """

with conn.cursor() as cursor:
    cursor.execute(query)
    elements = cursor.fetchall()

resp=pd.DataFrame(elements).sort_values(by=['amount'],ascending=False)
nombre_columnas=resp.columns.values
nombre_columnas[1]='expenses'
print(resp[0:10])

                     customerName   expenses
42         Euro+ Shopping Channel  120166.58
40         Euro+ Shopping Channel  116208.40
23   Mini Gifts Distributors Ltd.  111654.40
60        Dragon Souveniers, Ltd.  105743.00
17   Mini Gifts Distributors Ltd.  101244.59
169      Corporate Gift Ideas Co.   85559.12
18   Mini Gifts Distributors Ltd.   85410.87
76                   Herkku Gifts   85024.46
20   Mini Gifts Distributors Ltd.   83598.04
7      Australian Collectors, Co.   82261.22

In [88]:
import pandas as pd
import numpy as np

query = """
        SELECT customerNumber, productCode
        FROM orders
        JOIN orderdetails
        ON orderdetails.orderNumber = orders.orderNumber;
        """

with conn.cursor() as cursor:
    cursor.execute(query)
    elements = cursor.fetchmany(10)

print(pd.DataFrame(elements))

   customerNumber productCode
0             103    S18_1589
1             103    S18_2870
2             103    S18_3685
3             103    S24_1628
4             103    S10_2016
5             103    S18_2625
6             103    S24_2022
7             112    S18_1749
8             112    S18_2248
9             112    S18_2325

# Ejercicio 3

In [2]:
import pandas as pd
import numpy as np

query = """
        WITH t1 as (
        SELECT customerNumber, productCode
        FROM orders
        JOIN orderdetails
        ON orderdetails.orderNumber = orders.orderNumber)
        SELECT t1.customerNumber, products.productName
        FROM products
        JOIN t1 ON t1.productCode = products.productCode;
        """

with conn.cursor() as cursor:
    cursor.execute(query)
    elements3 = cursor.fetchmany(10)

print(pd.DataFrame(elements3))

   customerNumber                            productName
0             131  1969 Harley Davidson Ultimate Chopper
1             353  1969 Harley Davidson Ultimate Chopper
2             250  1969 Harley Davidson Ultimate Chopper
3             205  1969 Harley Davidson Ultimate Chopper
4             321  1969 Harley Davidson Ultimate Chopper
5             161  1969 Harley Davidson Ultimate Chopper
6             171  1969 Harley Davidson Ultimate Chopper
7             167  1969 Harley Davidson Ultimate Chopper
8             129  1969 Harley Davidson Ultimate Chopper
9             406  1969 Harley Davidson Ultimate Chopper

# Ejercicio 4

In [5]:
import pandas as pd
import numpy as np

query = """
        WITH t2 as (
        WITH t1 as (
        SELECT customerNumber, productCode
        FROM orders
        JOIN orderdetails
        ON orderdetails.orderNumber = orders.orderNumber)
        SELECT t1.customerNumber, products.productName
        FROM products
        JOIN t1 ON t1.productCode = products.productCode)
        SELECT customers.customerName, t2.productName
        FROM customers
        JOIN t2 ON t2.customerNumber = customers.customerNumber;
        """

with conn.cursor() as cursor:
    cursor.execute(query)
    elements4 = cursor.fetchmany(10)

print(pd.DataFrame(elements4))

         customerName                                productName
0   Atelier graphique                      1965 Aston Martin DB5
1   Atelier graphique               1999 Indy 500 Monte Carlo SS
2   Atelier graphique             1948 Porsche Type 356 Roadster
3   Atelier graphique                  1966 Shelby Cobra 427 S/C
4   Atelier graphique                      1996 Moto Guzzi 1100i
5   Atelier graphique        1936 Harley Davidson El Knucklehead
6   Atelier graphique  1938 Cadillac V-16 Presidential Limousine
7  Signal Gift Stores                   1917 Grand Touring Sedan
8  Signal Gift Stores                         1911 Ford Town Car
9  Signal Gift Stores                  1932 Model A Ford J-Coupe

# Ejercicio 5

In [10]:
import pandas as pd
import numpy as np

query = """
        WITH t2 as (
        WITH t1 as (
        SELECT customerNumber, productCode
        FROM orders
        JOIN orderdetails
        ON orderdetails.orderNumber = orders.orderNumber)
        SELECT t1.customerNumber, products.productName
        FROM products
        JOIN t1 ON t1.productCode = products.productCode)
        SELECT productName, COUNT(productName) as count_productName
        FROM t2
        GROUP BY productName
        ORDER BY count_productName DESC
        """

with conn.cursor() as cursor:
    cursor.execute(query)
    elements5 = cursor.fetchall()

for element in elements5:
    print("Producto: "+element["productName"] + " - Número de unidades: "+ str(element["count_productName"]))

Producto: 1992 Ferrari 360 Spider red - Número de unidades: 53
Producto: 1969 Harley Davidson Ultimate Chopper - Número de unidades: 28
Producto: 1952 Alpine Renault 1300 - Número de unidades: 28
Producto: 1996 Moto Guzzi 1100i - Número de unidades: 28
Producto: 2003 Harley-Davidson Eagle Drag Bike - Número de unidades: 28
Producto: 1972 Alfa Romeo GTA - Número de unidades: 28
Producto: 1962 LanciaA Delta 16V - Número de unidades: 28
Producto: 1958 Setra Bus - Número de unidades: 28
Producto: 2002 Suzuki XREO - Número de unidades: 28
Producto: 1957 Chevy Pickup - Número de unidades: 28
Producto: 1940 Ford Pickup Truck - Número de unidades: 28
Producto: 1937 Lincoln Berline - Número de unidades: 28
Producto: 1936 Mercedes-Benz 500K Special Roadster - Número de unidades: 28
Producto: 1980s Black Hawk Helicopter - Número de unidades: 28
Producto: 1998 Chrysler Plymouth Prowler - Número de unidades: 28
Producto: 1964 Mercedes Tour Bus - Número de unidades: 28
Producto: 1932 Model A Ford J-Coupe - Número de unidades: 28
Producto: 1926 Ford Fire Engine - Número de unidades: 28
Producto: P-51-D Mustang - Número de unidades: 28
Producto: 1936 Harley Davidson El Knucklehead - Número de unidades: 28
Producto: 1928 Mercedes-Benz SSK - Número de unidades: 28
Producto: 1913 Ford Model T Speedster - Número de unidades: 28
Producto: 1934 Ford V8 Coupe - Número de unidades: 28
Producto: 1999 Yamaha Speed Boat - Número de unidades: 28
Producto: 18th Century Vintage Horse Carriage - Número de unidades: 28
Producto: 1917 Maxwell Touring Car - Número de unidades: 28
Producto: 1941 Chevrolet Special Deluxe Cabriolet - Número de unidades: 28
Producto: 1940s Ford truck - Número de unidades: 28
Producto: 1939 Cadillac Limousine - Número de unidades: 28
Producto: 1970 Dodge Coronet - Número de unidades: 28
Producto: 1997 BMW R 1100 S - Número de unidades: 28
Producto: 1928 British Royal Navy Airplane - Número de unidades: 28
Producto: 1939 Chevrolet Deluxe Coupe - Número de unidades: 28
Producto: 1960 BSA Gold Star DBD34 - Número de unidades: 28
Producto: 1938 Cadillac V-16 Presidential Limousine - Número de unidades: 28
Producto: 1962 Volkswagen Microbus - Número de unidades: 28
Producto: 1958 Chevy Corvette Limited Edition - Número de unidades: 28
Producto: 1900s Vintage Bi-Plane - Número de unidades: 28
Producto: 1937 Horch 930V Limousine - Número de unidades: 28
Producto: 1940 Ford Delivery Sedan - Número de unidades: 28
Producto: Corsair F4U ( Bird Cage) - Número de unidades: 28
Producto: 1936 Chrysler Airflow - Número de unidades: 28
Producto: 1900s Vintage Tri-Plane - Número de unidades: 28
Producto: 1980’s GM Manhattan Express - Número de unidades: 28
Producto: 1997 BMW F650 ST - Número de unidades: 28
Producto: 1954 Greyhound Scenicruiser - Número de unidades: 28
Producto: 1996 Peterbilt 379 Stake Bed with Outrigger - Número de unidades: 28
Producto: 1928 Ford Phaeton Deluxe - Número de unidades: 28
Producto: 1930 Buick Marquette Phaeton - Número de unidades: 28
Producto: Diamond T620 Semi-Skirted Tanker - Número de unidades: 28
Producto: American Airlines: B767-300 - Número de unidades: 28
Producto: HMS Bounty - Número de unidades: 28
Producto: America West Airlines B757-200 - Número de unidades: 28
Producto: 1982 Camaro Z28 - Número de unidades: 28
Producto: ATA: B757-300 - Número de unidades: 28
Producto: F/A 18 Hornet 1/72 - Número de unidades: 28
Producto: American Airlines: MD-11S - Número de unidades: 28
Producto: Boeing X-32A JSF - Número de unidades: 28
Producto: 1968 Ford Mustang - Número de unidades: 27
Producto: 2001 Ferrari Enzo - Número de unidades: 27
Producto: 1969 Corvair Monza - Número de unidades: 27
Producto: 1968 Dodge Charger - Número de unidades: 27
Producto: 1969 Ford Falcon - Número de unidades: 27
Producto: 1970 Plymouth Hemi Cuda - Número de unidades: 27
Producto: 1969 Dodge Charger - Número de unidades: 27
Producto: 1993 Mazda RX-7 - Número de unidades: 27
Producto: 1948 Porsche 356-A Roadster - Número de unidades: 27
Producto: 1995 Honda Civic - Número de unidades: 27
Producto: 1903 Ford Model A - Número de unidades: 27
Producto: Collectable Wooden Train - Número de unidades: 27
Producto: 1969 Dodge Super Bee - Número de unidades: 27
Producto: 1976 Ford Gran Torino - Número de unidades: 27
Producto: 1957 Vespa GS150 - Número de unidades: 27
Producto: 1970 Triumph Spitfire - Número de unidades: 27
Producto: 1904 Buick Runabout - Número de unidades: 27
Producto: 1957 Corvette Convertible - Número de unidades: 27
Producto: 18th century schooner - Número de unidades: 27
Producto: 1982 Ducati 900 Monster - Número de unidades: 27
Producto: 1982 Lamborghini Diablo - Número de unidades: 27
Producto: 1912 Ford Model T Delivery Wagon - Número de unidades: 27
Producto: 1971 Alpine Renault 1600s - Número de unidades: 27
Producto: 1956 Porsche 356A Coupe - Número de unidades: 27
Producto: 1992 Porsche Cayenne Turbo Silver - Número de unidades: 27
Producto: 1961 Chevrolet Impala - Número de unidades: 27
Producto: 1982 Ducati 996 R - Número de unidades: 27
Producto: 1950's Chicago Surface Lines Streetcar - Número de unidades: 27
Producto: 1974 Ducati 350 Mk3 Desmo - Número de unidades: 27
Producto: 1962 City of Detroit Streetcar - Número de unidades: 27
Producto: 2002 Yamaha YZR M1 - Número de unidades: 27
Producto: The Schooner Bluenose - Número de unidades: 27
Producto: The Mayflower - Número de unidades: 27
Producto: The USS Constitution Ship - Número de unidades: 27
Producto: The Titanic - Número de unidades: 27
Producto: The Queen Mary - Número de unidades: 27
Producto: Pont Yacht - Número de unidades: 27
Producto: 1965 Aston Martin DB5 - Número de unidades: 25
Producto: 1917 Grand Touring Sedan - Número de unidades: 25
Producto: 1911 Ford Town Car - Número de unidades: 25
Producto: 1999 Indy 500 Monte Carlo SS - Número de unidades: 25
Producto: 1948 Porsche Type 356 Roadster - Número de unidades: 25
Producto: 1932 Alfa Romeo 8C2300 Spider Sport - Número de unidades: 25
Producto: 1970 Chevy Chevelle SS 454 - Número de unidades: 25
Producto: 1966 Shelby Cobra 427 S/C - Número de unidades: 25
Producto: 1949 Jaguar XK 120 - Número de unidades: 25
Producto: 1969 Chevrolet Camaro Z28 - Número de unidades: 25
Producto: 2002 Chevy Corvette - Número de unidades: 25
Producto: 1936 Mercedes Benz 500k Roadster - Número de unidades: 25
Producto: 1957 Ford Thunderbird - Número de unidades: 24
Producto: 1952 Citroen-15CV - Número de unidades: 24

# Ejercicio 6

In [12]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String,Date,Text

passw="maquina271"
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)

Base = declarative_base()

class Orders(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String(15))
    comments = Column(Text)
    customerNumber = Column(Integer, index=True)

In [25]:
'''
Comprobación que la base de datos ha sido efectivamente creada.
'''

from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

for instance in sess.query(Orders).limit(5):
    print(instance.orderDate)

2003-01-06
2003-01-09
2003-01-10
2003-01-29
2003-01-31

# Ejercicio 7

In [32]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String,Float

passw="maquina271"
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)

Base = declarative_base()

class Orderdetails(Base):
    __tablename__ = "orderdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(String(15), primary_key=True)
    quantityOrdered = Column(Integer)
    priceEach = Column(Float(10,2))
    orderLineNumber = Column(Integer)

In [29]:
'''
Comprobación que la base de datos ha sido efectivamente creada.
'''

from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

for instance in sess.query(Orderdetails).limit(5):
    print(instance.productCode)

S18_1749
S18_2248
S18_4409
S24_3969
S18_2325

# Ejercicio 8

In [35]:
import pandas as pd
import numpy as np
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

query = sess.query(Orders.status)
print(set(query))

{('Cancelled',), ('On Hold',), ('Resolved',), ('Disputed',), ('Shipped',), ('In Process',)}